---
layout: post-index
permalink: /portfolio/
title: Portfolio Items
description: "A list of work examples"
image:
  feature: abstract-11.jpg
  credit: dargadgetz
  creditlink: http://www.dargadgetz.com/ios-7-abstract-wallpaper-pack-for-iphone-5-and-ipod-touch-retina/
---

{% for project in site.projects | sort: "title" %}
    {% if forloop.first %}
    <article>
      <ul>
    {% endif %}
        <li class="entry-title"><a href="{{ site.url }}{{ project.url }}" title="{{ project.title }}">{{ project.title }}</a><span class="summary">{{ project.summary }}</span></li>

    {% if forloop.last %}
      </ul>
    </article>
    {% endif %}
{% endfor %}
